
<div class="container">
    <h1>Home Component</h1>

    <button matBadge="t" matBadgeColor="warn" mat-raised-button color="primary">Welcome</button>
    <div>
        <button matBadge="t" matBadgeColor="warn" matBadgeSize="small" mat-raised-button color="primary">Welcome</button>
    </div>
    <div>
        <button matBadge="t" matBadgeColor="warn" matBadgePosition="before" matBadgeOverlap="false"  matBadgeSize="large" mat-raised-button color="primary">Welcome</button>
    </div>
    <div>
        <!-- it will hide the badge using matBadgeHidden-->
        <button matBadge="t" matBadgeHidden="true" matBadgeColor="warn" matBadgePosition="before" matBadgeOverlap="false"  matBadgeSize="large" mat-raised-button color="primary">Welcome</button>
    </div>
    <br>
    <mat-icon matBadge="2" matBadgeColor="warn">home</mat-icon>
</div>

