<!-- CARD 1 -->
<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>Material UI</mat-card-subtitle>
    </mat-card-header>

    <!--  -->
    <img mat-card-image src="https://blog.ninja-squad.com/assets/images/angular_gradient.png" alt="">
    <!--  -->
    <mat-card-content>
        <p>Internationalized and accessible 
            components for everyone. Well tested to 
            ensure performance and reliability.</p>
    </mat-card-content>

    <!--  -->
    <mat-card-actions>
        <button mat-button color="primary"><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button color="primary"><mat-icon>share</mat-icon>Share</button>

    </mat-card-actions>

    <!--  -->
    <mat-card-footer>

    </mat-card-footer>
</mat-card>



<!-- CARD 2 -->
<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>Material UI</mat-card-subtitle>
    </mat-card-header>

    <!--  -->
    <img mat-card-sm-image src="https://blog.ninja-squad.com/assets/images/angular_gradient.png" alt="">
    <!--  -->
    <mat-card-content>
        <p>Internationalized and accessible 
            components for everyone. Well tested to 
            ensure performance and reliability.</p>
    </mat-card-content>

    <!--  -->
    <mat-card-actions>
        <button mat-button color="primary"><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button color="primary"><mat-icon>share</mat-icon>Share</button>

    </mat-card-actions>

    <!--  -->
    <mat-card-footer>

    </mat-card-footer>
</mat-card>


<!-- CARD 3 -->

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>Material UI</mat-card-subtitle>
    </mat-card-header>

    <!--  -->
    <img mat-card-md-image src="https://blog.ninja-squad.com/assets/images/angular_gradient.png" alt="">
    <!--  -->
    <mat-card-content>
        <p>Internationalized and accessible 
            components for everyone. Well tested to 
            ensure performance and reliability.</p>
    </mat-card-content>

    <!--  -->
    <mat-card-actions>
        <button mat-button color="primary"><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button color="primary"><mat-icon>share</mat-icon>Share</button>

    </mat-card-actions>

    <!--  -->
    <mat-card-footer>

    </mat-card-footer>
</mat-card>


<!-- CARD4  -->

<mat-card class="card-class">
    <mat-card-header>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>Material UI</mat-card-subtitle>
    </mat-card-header>

    <!--  -->
    <img mat-card-lg-image src="https://blog.ninja-squad.com/assets/images/angular_gradient.png" alt="">
    <!--  -->
    <mat-card-content>
        <p>Internationalized and accessible 
            components for everyone. Well tested to 
            ensure performance and reliability.</p>
    </mat-card-content>

    <!--  -->
    <mat-card-actions>
        <button mat-button color="primary"><mat-icon>thumb_up</mat-icon>Like</button>
        <button mat-button color="primary"><mat-icon>share</mat-icon>Share</button>

    </mat-card-actions>

    <!--  -->
    <mat-card-footer>

    </mat-card-footer>
</mat-card>
